<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".CokeZetApplication"
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/zet_app_icon"
        android:label="@string/zet"
        android:roundIcon="@mipmap/zet_app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.CokeZet_Android"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"/>
    </application>

</manifest>